<div class="row row-cols-3 g-3 mt-1 mb-3">
  {% for pub in site.data.selected_pubs %}
    <div class="col">
      <a href="{{ pub.url }}" target="_blank" rel="noopener noreferrer" title="{{ pub.title }}">
        <div class="selected-pub-thumb">
          <img
            src="{{ pub.preview | prepend: '/assets/img/publication_preview/' | relative_url }}"
            alt="{{ pub.title }}"
            loading="lazy"
          />
        </div>
      </a>
    </div>
  {% endfor %}
</div>
